---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Features from "../components/Features.astro";
import Properties from "../components/Properties.astro";
import Cities from "../components/Cities.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<!-- Scroll Progress Indicator -->
	<div class="scroll-progress"></div>

	<Navbar />
	<main>
		<Hero />
		<HowItWorks />
		<Features />
		<Properties />
		<Cities />
		<Testimonials />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
